@model ASP_ProductList.Models.AddProductViewModel

@using Microsoft.Extensions.Localization
@using ASP_ProductList.Controllers
@inject IStringLocalizer<HomeController> Localizer

@{
    ViewData["Title"] = @Localizer["Create"];
}

@*<h1>Create</h1>*@

<h4>@Localizer["Create product"]</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">@Localizer["Name"]</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label">@Localizer["Price"]</label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Images" class="form-label">@Localizer["Images"]</label>
                <div class="row" id="contentImage">
                    <div class="col-md-2">
                        <img src="~/img/addimagebtn.png"
                             id="btnAddImage"
                             style="cursor:pointer"
                             width="100%" />
                    </div>
                </div>

            </div>

            <div class="form-group mt-5">
                <input type="submit" value=@Localizer["Create"] class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">@Localizer["Back to List"]</a>
</div>

@*@section Styles{
        <link href="~/css/style.css" rel="stylesheet" />

    }*@

@section Scripts{
    <script>

        window.addEventListener("load", async function () {
            let id = 1;
            $("#btnAddImage").on("click", function () {
                let imageName = "image" + id;
                id++;
                let $file = $(`<input type="file" data-files style="display:none" multiple
                                    class="form-control"
                                    id="${imageName}"
                                    name="images">`);
                $("#contentImage").prepend($file);

                document.getElementById(imageName).click();
                document.getElementById(imageName).onchange = function (e) {

                    for (var i = 0; i < e.target.files.length; i++) {


                        //let $fileName = $(`<div class="col-md-6">
                        //              <span class="file-delete" style="transform: rotate(45deg)"><span>+</span></span>
                        //            <img src="${URL.createObjectURL(e.target.files[i])}"
                        //                 width="100%"/> </div>`);
                        //$("#contentImage").prepend($fileName);
                        let $div = $(`<div class="col-md-2">`);
                        let $span = $(` <span class="file-delete" style="transform: rotate(45deg)"><span>+</span></span>`);
                        let $content = $(`<img src="${URL.createObjectURL(e.target.files[i])}"
                                             width="100%"/>`);
                        $div.prepend($span);
                        $div.prepend($content);
                        $("#contentImage").prepend($div);
                        $span.on('click', function (e) {
                            e.preventDefault();
                            $(this).closest("div").remove();
                            let $filedel = $(`<input type="file" data-files style="display:none" multiple
                                    class="form-control"
                                    id="${imageName}"
                                    name="images">`);
                            $("#contentImage").prepend($filedel);
                        });

                    }

                };

            });
        });
    </script>
}





@*@section Scripts {
    <script>





        window.addEventListener("load", async function () {
            //console.log("load form");
            let id = 1;
            $("#btnAddImage").on("click", function () {
                let imageName = "image" + id;
                id++;
                let $file = $(`<input type="file" data-files style="display:none" multiple
                                class="form-control"
                                id="${imageName}"
                                name="images">`);
                $contentImage = $("#contentImage");
                $contentImage.prepend($file);
                let fileImageUpload = document.getElementById(imageName);
                fileImageUpload.click();
                fileImageUpload.onchange = function (e) {
                    $span = $(`<span><i class="delete far fa-lg fa-calendar-times"></i></span>`);
                    $span.on("click", function (e) {
                        $el = $(e.target);
                        $div = $el.closest("div");
                        $div.remove();
                        $file.remove();
                    })
                    $block = $(`<div class="d-flex flex-column-row"></div>`);

                    for (var i = 0; i < e.target.files.length; i++) {
                        let fileName = e.target.files[i].name;
                        console.log("------", fileName);

                        $block.prepend(`
        <div class="col-md-2>
              <img scr="${URL.createObjectURL(e.target.files[i])}
               width="100%"/>
        `)
                        //$("#contentImage").prepend(`
                        //        <div class="col-md-2">
                        //            <img src="${URL.createObjectURL(e.target.files[i])}"
                        //                 width="100%"/>
                        //        </div>
                        //    `);
                    }
                    $block.append($span);
                    $("#contentImage").prepend($block)
                }

            });
        });
    </script>
    }*@


