@model IEnumerable<ASP_ProductList.Models.ProductViewModel>

@using Microsoft.Extensions.Localization
@using ASP_ProductList.Controllers
@inject IStringLocalizer<HomeController> Localizer

@{
    ViewData["Title"] = "Home Page";
}


<table class="table">
    <thead>
        <tr>
            <td scope="col">@Localizer["Id"]</td>
            <td scope="col">@Localizer["Name"]</td>
            <td scope="col">@Localizer["Price"]</td>
            <td style="text-align:center" scope="col">@Localizer["Images"]</td>
            <td style="text-align:center" scope="col">@Localizer["Action"]</td>
            @*<th>
                @Html.DisplayNameFor(model => model.Id)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Images)
            </th>
            <th></th>*@
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @foreach (var img in item.Images)
                    {
                        <img src="@img.Path" width="150" class="mx-2">
                    }
                </td>
                <td style="text-align:center">
                    <a class="text-success" asp-controller="Home" asp-action="Edit" asp-route-id="@item.Id">@Localizer["Change"]</a>
                    &nbsp;&nbsp;&nbsp;
                    <a class="text-danger " asp-controller="Home" asp-action="Delete" asp-route-id="@item.Id">@Localizer["Delete"]</a>

                </td>
            </tr>
        }
    </tbody>
</table>


